# virtual environment
env/
.venv/
activate.bat

# environment file
.env

# python
__pycache__/

# django
staticfiles/

# IDE 
.vscode/
pyproject.toml

# logs
logs/
*.log

#sqlite database
*.sqlite3
*.db